<ion-header transparent>
    <ion-navbar transparent>
        <ion-buttons left>
            <button ion-button (click)="close()">关闭</button>
        </ion-buttons>
        <ion-title text-center>{{title}}</ion-title>
        <ion-buttons right>
            <button ion-button type="submit" [class.hide]="!settingsForm.dirty" (click)="save()">保存</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="settings-content">
    <form [formGroup]="settingsForm" class="settings-form">
        <ion-textarea autofocus rows="50" formControlName="textareaCtrl" [placeholder]="placeholder"></ion-textarea>
        <div class="validation-errors" *ngFor="let validation of validation_messages.textareaCtrl">
            <div class="error-message" *ngIf="textareaCtrl.hasError(validation.type) && (textareaCtrl.dirty || textareaCtrl.touched)">
                {{ validation.message }}
            </div>
        </div>
    </form>
</ion-content>
