full-text-area {
    .settings-content {
        background-color: color($colors, background, base);

        .settings-form {
            height: 100%;

            ion-textarea {
                padding: 3rem 10%;
                background-color: #fdfdfd;
            }
        }
    }

}
