preload-image {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;

    // If the image is rounded
    &.rounded-image {
        border-radius: 50%;
    }

    &.img-loaded {
        background-color: transparent;
        border: none;

        img {
            visibility: visible;
            opacity: 1;
        }

        ion-spinner {
            visibility: hidden;
            display: none;
        }
    }

    &.none-shadow {
        img {
            -webkit-box-shadow: unset;
            box-shadow: unset;
        }
    }

    &.full {
        img {
            top: 0;
            left: 0;
            width: 100% !important;
        }
    }

    img {
        position: absolute;
        left: 5%;
        top: 5%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear, opacity 0.5s linear;
        width: 90% !important;
        height: inherit !important;
        // To reset min/max-width/height
        max-width: inherit !important;
        max-height: 90% !important;
        min-width: inherit !important;
        min-height: inherit !important;
        // box-shadow: h-shadow v-shadow blur spread color inset;
        // -moz-box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    }
}
