.login-form {
    position: absolute;
    top: 30%;
    width: 70%;
    margin: 0 15%;

    .list {
        .item-block {
            &:first-child {
                border-top: none;
            }

            &:last-child {
                border-bottom: none;
            }

            padding-left: 0;

            .item-inner {
                padding-right: 0;

                .label {
                    margin: 0;

                    .button {
                        font-size: 2rem;
                        width: 100%;
                        margin: 0;
                        padding: 16px;
                    }
                }

                input {
                    font-size: 2.0rem;
                    font-weight: bold;
                    letter-spacing: 0.5rem;
                }
            }
        }

        .error-space .item-inner {
            border-bottom: none !important;
            box-shadow: unset;
        }
    }
}
