<ion-tabs #mainTabs [selectedIndex]="selectedIndex" tabsPlacement="bottom" tappable (ionChange)="onTabChanged()">

    <ion-tab #mainTab0 [root]="tab0Root" [rootParams]="tab1Params" [tabTitle]="tab0Title" tabIcon="ios-book-outline">
    </ion-tab>

    <ion-tab #mainTab1 [root]="tab1Root" [rootParams]="tab2Params" [tabTitle]="tab1Title" tabIcon="ios-contacts-outline">
    </ion-tab>

    <ion-tab #mainTab2 [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="ios-barcode-outline">
    </ion-tab>

    <ion-tab #mainTab2 [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="ios-swap">
    </ion-tab>

    <ion-tab #mainTab3 [root]="tab4Root" [tabTitle]="tab4Title" [tabBadge]="unreadMessages.length" tabBadgeStyle="dark"
        tabIcon="ios-settings-outline">
    </ion-tab>

</ion-tabs>
