page-tabs {
    .tabbar {
        background: color($colors, tabs-navigation, base) !important;
        border-top-color: darken(color($colors, tabs-navigation, base), 6%) !important;
        box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.1);

        // .tab-button
        // {
        // 	color: color($colors, tabs-navigation, contrast);

        // 	.tab-button-icon
        // 	{
        // 		color: color($colors, tabs-navigation, contrast);
        // 	}
        // }

    }

    // .flash-new {
    //     #tab-t0-4::before {
    //         content: '\f4b3';
    //         font-family: 'Ionicons';
    //         font-size: 0.5rem;
    //         position: absolute;
    //         top: 32%;
    //         transform: scale(2);
    //         color: rgba(255, 100, 0, 1);
    //         opacity: 1;
    //         animation: flashing 2s infinite;
    //     }
    // }

}
