<ion-header no-border transparent>
    <ion-navbar transparent>
        <ion-title>创建新群</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form class="community-register-form">
        <ion-list>
            <ion-item>
                <ion-label fixed>群名：</ion-label>
                <ion-input type="number" placeholder="输入关键字搜索" required pattern="^\\d{4}$" clearInput autofocus
                    [(ngModel)]="code" #codeCtrl="ngModel" name="code">
                </ion-input>
            </ion-item>
            <ion-item class="error-space">
                <div class="validation-errors" *ngIf="codeCtrl.errors && (codeCtrl.dirty || codeCtrl.touched)">
                    <div class="error-message" *ngIf="codeCtrl.errors['required']">必须提供短信验证码</div>
                    <div class="error-message" *ngIf="codeCtrl.errors['pattern']">验证码必须是4位数字</div>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>设置群址：</ion-label>
                <a-map></a-map>
            </ion-item>
            <ion-item>
                <button ion-button round padding [disabled]="!codeCtrl.valid" (click)="next($event)">
                    下一步
                </button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
