<ion-col col-4 col-md-3 col-xl-2 *ngIf="item">
    <div class="block">
        <div center class="img-container">
            <preload-image class="shadow" [ratio]="ratio" [src]="image"></preload-image>
        </div>
        <rating [setter]="rating" class="small-rating" *ngIf="rating">
            <!-- (ngModelChange)="onModelChange($event)" -->
        </rating>
        <div class="title" [class.flash-new]="doFlashNew && isNew">
            <span>{{title}}</span>
        </div>
    </div>
</ion-col>
