<ion-header no-border transparent>
    <ion-navbar #navBar transparent>
        <ion-buttons right>
            <button ion-button icon-only class='menu' (click)="moreMenu($event)">
                <ion-icon name="ios-more-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="book-contents" *ngIf="book">
    <!-- <ion-list> -->
    <ion-item-group>
        <ion-item no-lines class="board">
            <div class="img-container" item-start>
                <preload-image [ratio]="{w:7, h:10.2}" [src]="book.cover" [zoom]="true"></preload-image>
            </div>
            <h1>{{book.title}}</h1>
            <h2>{{book.subtitle}}</h2>
            <h3>{{authorAndTranslator}}</h3>
            <div class='conditions'>{{otherConditions}}</div>
        </ion-item>

        <ion-item class="rate" *ngIf="book.rating && book.rating.numRaters">
            <rating [setter]="book.rating"></rating>
            <h2 tappable (click)="openDouban()">豆瓣：
                <span class="rating-score">{{book.rating.average}}</span> 分
                {{book.rating.numRaters}} 人</h2>
        </ion-item>

        <ion-item no-lines full *ngIf="book.summary">
            <!-- <h2>简介</h2> -->
            <div class="summary" [class.short-summary]="!doShowAllSummary" (click)="switchSummaryStyle()"><span>{{book.summary}}</span></div>
        </ion-item>

        <ion-item no-lines class="tags" [class.short-tags]="!doShowAllTags" (click)="switchTagsStyle()">
            <span>标签： <b *ngFor="let tag of book.tags"> &nbsp;{{tag.name}} </b> </span>
        </ion-item>

    </ion-item-group>

    <ion-item-group>
        <!-- <ion-item-divider></ion-item-divider> -->
        <ion-item *ngIf="photos.length">
            <!-- <span>照片：</span> -->
            <ion-slides slidesPerView=5 spaceBetween=5>
                <ion-slide *ngFor="let picsrc of photos">
                    <preload-image [src]="picsrc" [ratio]="{w:7,h:10.2}" zoom=true> </preload-image>
                </ion-slide>
                <ion-slide (click)="addPicture()">
                    <preload-image src="assets/imgs/add-copy.svg" [ratio]="{w:7,h:10.2}" [zoom]="false">
                    </preload-image>
                </ion-slide>
            </ion-slides>
        </ion-item>

    </ion-item-group>

    <ion-item-group>
        <ion-grid class="user-list" padding *ngIf="owners && owners.count()">
            <div class="prompt" text-center padding>
                以下用户共享了此书：
            </div>
            <!-- <ion-row justify-content-around text-center> -->
            <ion-row text-center>
                <user-block *ngFor="let owner of owners; trackBy: trackById" [userId]="owner._id" (click)="borrowFrom(owner)"
                    [class.state-marker-lent]="isCopyActing(owner)" [class.state-marker-lost]="isCopyLost(owner)"
                    [class.hide]="isCopyLost(owner) && !owner.isMe"></user-block>
            </ion-row>
        </ion-grid>
    </ion-item-group>

    <ion-infinite-scroll class="keep-distant" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
