page-book-profile {
    .book-contents {
        .img-container {
            width: 12rem;
            height: 17.5rem;
            background-color: transparent;
            display: inline-block;

            img.shadow {
                -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
                box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
            }
        }

        ion-label {
            white-space: inherit;
        }

        // .item-inner {
        //     display: list-item;
        //     border-bottom: unset !important;
        // }

        .board {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .conditions {
                margin: 8px 0;
            }

            h2 {
                opacity: 0.9;
            }

            h3 {
                opacity: 0.8;
            }

            h4 {
                opacity: 0.7;
            }

            h5,
            h6,
            .conditions {
                opacity: 0.6;
                font-size: 1.2rem;
            }

            div.input-wrapper {
                align-items: flex-start;
            }
        }

        .summary {
            margin: 0 0;
            font-size: 1.2rem;
            line-height: 2rem;
            opacity: 0.9;
            width: 100%;
            text-indent: 2.4rem;

            &.short-summary {
                opacity: 0.75;
                @include ellipsis-span(4);
            }
        }

        .tags {
            span {
                display: inline-block;
                font-size: 1.2rem;
                opacity: 0.9;
                margin: 0 0.6rem;

                b {
                    font-weight: 500;
                }
            }

            &.short-tags {
                opacity: 0.75;
                @include ellipsis-span(1)
            }
        }

        .rate {
            text-align: center;
            opacity: 0.8;

            ul {
                padding: 0;
            }

            margin-bottom: 1.2rem;

            .item-inner {
                border-bottom: 0 !important;

                .rating-score {
                    font-size: 2rem;
                    font-weight: bolder;
                }
            }
        }

        .nickname {
            font-size: 1.7rem;
        }

        .description {
            font-size: 1.3rem;
            color: #999999;
        }

        .user-list {
            .prompt {
                opacity: 0.8;
            }

            user-block {
                // preload-image {
                //     padding-bottom: 100% !important;

                //     span {
                //         margin-left: 0;
                //     }
                // }
            }
        }
    }
}

.full-alert {
    .alert-wrapper {
        max-width: 98% !important;

        .alert-message {
            text-align: left;
            padding: 10px;
        }
    }
}
