<ion-header no-border transparent #topHeader>
    <ion-navbar transparent>

        <ion-buttons left>
            <button ion-button icon-only class='search' (click)="pushSearchPage($event)">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title #slideTitle text-center>{{title}}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only class='menu' (click)="moreMenu($event)">
                <ion-icon name="ios-more-outline"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content no-bounce #topContainer>

    <ion-slides #slider pager=true loop=false (ionSlideDidChange)="onSlideDidChange($event)">

        <ion-slide *ngFor="let community of communities" hide-header-in-scroll [scrollContainer]="topContainer"
            [headerToHide]="topHeader">
            <ion-grid *ngIf="getMembersOf(community._id) as members">
                <ion-row align-item-start justify-content-between>
                    <user-block *ngFor="let member of members; trackBy: trackById" [userId]="member._id" [communityId]="community._id"
                        (click)="onClick($event, member)">
                    </user-block>
                </ion-row>
            </ion-grid>
        </ion-slide>

    </ion-slides>

    <ion-infinite-scroll class="scroll-slides" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
