<ion-header no-border transparent>
    <ion-navbar transparent>
        <ion-title>注册和登录: 提供验证码</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form class="login-form">
        <ion-list>
            <ion-item>
                <ion-input type="number" placeholder="4位数字验证码" required pattern="^\\d{4}$" clearInput autofocus
                    (keypress)="onKeyPress()" [(ngModel)]="code" #codeCtrl="ngModel" name="code" text-center>
                </ion-input>
            </ion-item>
            <ion-item class="error-space">
                <div class="validation-errors" *ngIf="codeCtrl.errors && (codeCtrl.dirty || codeCtrl.touched)">
                    <div class="error-message" *ngIf="codeCtrl.errors['required']">必须提供短信验证码</div>
                    <div class="error-message" *ngIf="codeCtrl.errors['pattern']">验证码必须是4位数字</div>
                </div>
            </ion-item>
            <ion-item>
                <button ion-button round padding [disabled]="!codeCtrl.valid" (click)="next($event)">
                    下一步
                </button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
