<ion-header #topHeader transparent>
    <ion-navbar transparent>
        <ion-buttons left>
            <button ion-button icon-only class='search' (click)="pushSearchPage($event)">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>订单操作</ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="userId" hide-header-in-scroll [headerToHide]="topHeader">

    <ion-segment [(ngModel)]="display" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="borrowed">借入{{borrowedCount || 0}}册</ion-segment-button>
        <ion-segment-button value="lent">借出{{lentCount || 0}}册</ion-segment-button>
    </ion-segment>

    <div *ngIf="display=='borrowed' || isBorrowedListSet" [class.hide]="display!='borrowed'">
        <order-list-section [userId]="userId" type="borrowed">
        </order-list-section>
    </div>

    <div *ngIf="display=='lent' || isLentListSet" [class.hide]="display!='lent'">
        <order-list-section [userId]="userId" type="lent">
        </order-list-section>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" class="keep-distant">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
