block,
book-block,
copy-block,
user-block {
    display: contents;

    .block {
        display: flex;
        flex-direction: column;

        font-size: 1.4rem;

        rating {
            text-align: center;
        }

        .title {
            @include ellipsis-span();
            padding: 0 10%;
            width: 12rem;
            display: inline-block;
            text-align: left;

            &.flash-new {

                span:before {
                    content: '* ';
                    color: color($colors, primary);
                    // opacity: 1;
                    // animation: flashing 2s infinite ease-in;
                    // -webkit-animation: flashing 2s infinite;
                }

                @keyframes flashing {}
            }
        }

        .img-container {
            width: 10rem;
            height: 14rem;
            background-color: transparent;
            display: block;
            margin: 0 auto;

            &::before {
                position: absolute;
                right: 0;
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.8);
                background-color: rgba(255, 255, 255, 0.9);
                // border-top: 1px solid;
                // border-bottom: 1px solid;
                border-radius: 2px;
                padding: 1px 3px;
                box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }

    &.no-rating {
        rating {
            display: none;
        }
    }

    &.state-marker-borrowed {
        .img-container::before {
            content: '借入';
        }
    }

    &.state-marker-lent {
        .img-container::before {
            content: '借出';
        }
    }

    &.state-marker-lost {
        .img-container::before {
            content: '遗失';
        }
    }
}

user-block {
    font-size: 1.2rem;
    text-align: center;

    rating {
        display: none;
    }

    .img-container {
        width: 10rem !important;
        height: 10rem !important;

        img {
            border-radius: 50%;
        }
    }

    .title {
        text-align: center !important;
    }
}

.hide-block-rating {

    block,
    book-block,
    copy-block,
    user-block {
        rating {
            display: none;
        }
    }
}
