<ion-content class="messages-attachments-page-content">
    <ion-list class="attachments">
        <button ion-item class="attachment attachment-camera" detail-none (click)="sendPicture()">
            <ion-icon name="camera" class="attachment-icon"></ion-icon>
            <div class="attachment-name">照片</div>
        </button>

        <button ion-item class="attachment attachment-location" detail-none (click)="sendLocation()">
            <ion-icon name="locate" class="attachment-icon"></ion-icon>
            <div class="attachment-name">位置</div>
        </button>
    </ion-list>
</ion-content>
