<ion-header no-border transparent>
    <ion-navbar transparent>
        <ion-title>注册和登录: 提供手机号</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form class="login-form">
        <ion-list>
            <ion-item>
                <ion-input type="tel" placeholder="11位手机号" required pattern="^\\d{11}$" clearInput autofocus (keypress)="onKeyPress()"
                    [(ngModel)]="phone" #phoneCtrl="ngModel" name="phone" text-center>
                </ion-input>
            </ion-item>
            <ion-item class="error-space">
                <div class="validation-errors" *ngIf="phoneCtrl.errors && (phoneCtrl.dirty || phoneCtrl.touched)">
                    <div class="error-message" *ngIf="phoneCtrl.errors['required']">必须填写手机号</div>
                    <div class="error-message" *ngIf="phoneCtrl.errors['pattern']">手机号必须是11位数字</div>
                </div>
            </ion-item>
            <ion-item>
                <button ion-button round padding [disabled]="!phoneCtrl.valid" (click)="next($event)">
                    下一步
                </button>
            </ion-item>
        </ion-list>
    </form>
    <div style="position:absolute; bottom:0; opacity: 0.7;">v0.1.7</div>
</ion-content>
