page-user-profile {
    .profile-content {
        background-color: color($colors, background, base);

        .user-details {
            @include element-shadow();
            padding-bottom: 4%;
            background-color: $white;

            .user-image-content {
                padding: 4% 4% 0;
                align-items: center;

                ion-col {
                    margin: 0 auto;
                    .user-image {
                        border-radius: 50%;
                        max-height: 200px;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }

            .user-bio-row {
                padding: 4%;

                .user-name {
                    font-size: 1.6rem;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    color: $theme-color-1;
                    margin: 0px;
                }

                .user-location {
                    font-size: 1.2rem;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    color: $white-d;
                    display: block;
                    text-align: right;
                    line-height: 1.6;
                }

                .user-description {
                    font-size: 1.2rem;
                    line-height: 1.6;
                    letter-spacing: 0.2px;
                    color: $white-d;
                    margin: 10px 0px 0px;
                }
            }
        }
    }
}
