<ion-header>
    <ion-navbar>

        <ion-title text-center>{{user.nickname}}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="showMessages($event)">
                <ion-icon name="notifications-outline" *ngIf="user.isMe"></ion-icon>
                <ion-icon name="ios-chatboxes-outline" *ngIf="!user.isMe"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content class="profile-content">

    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>

    <div class="user-details">
        <div class="user-image-content">
            <ion-row class="user-image-row" padding-horizontal>
                <ion-col no-padding width-30>
                    <preload-image class="user-image full" [ratio]="{w:1, h:1}" [src]="user.avatar" [zoom]="true"></preload-image>
                </ion-col>
            </ion-row>
        </div>
        <ion-row wrap class="user-bio-row">
            <ion-col no-padding width-100>
                <div class="user-description" text-center> {{user.profile?.description}} </div>
            </ion-col>
        </ion-row>
    </div>

    <ion-segment [(ngModel)]="display" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="borrowed">借入{{borrowedCount || 0}}册</ion-segment-button>
        <ion-segment-button value="copies">藏书{{copyCount || 0}}册</ion-segment-button>
        <ion-segment-button value="lent">借出{{lentCount || 0}}册</ion-segment-button>
    </ion-segment>

    <div *ngIf="display=='borrowed' || isBorrowedListSet" [class.hide]="display!='borrowed'">
        <order-list-section [userId]="userId" type="borrowed">
        </order-list-section>
    </div>

    <div *ngIf="display=='copies' || isCopyListSet" [class.hide]="display!='copies'">
        <copy-list-section [userId]="userId"></copy-list-section>
    </div>

    <div *ngIf="display=='lent' || isLentListSet" [class.hide]="display!='lent'">
        <order-list-section [userId]="userId" type="lent">
        </order-list-section>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" class="keep-distant">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
