.validation-errors {
    padding: 0 20px;

    .error-message {
        color: color($colors, danger);
        font-size: 12px;
        font-weight: 500;
        line-height: 1.6rem;
        position: relative;
        padding-left: 22px;
        margin-bottom: 10px;

        &:first-child {
            margin-top: 10px;
        }

        &::before {
            font-family: "Ionicons";
            content: "\f19f";
            font-size: 16px;
            width: 16px;
            height: 16px;
            text-align: center;
            position: absolute;
            left: 0px;
        }
    }
}

.error-space {
    min-height: 4rem;

    .label {
        white-space: unset;
    }
}
