<div *ngIf="groups.size">
    <ion-segment [(ngModel)]="display" class="states-list">
        <ion-grid>
            <ion-row justify-content-between>
                <ion-col col-3 col-md-2 col-xl-1 *ngFor="let state of states">
                    <ion-segment-button [class.chosen]="display == state" value="{{state}}" (ionSelect)="onSegmentSelected($event)">
                        <div class="segment-title">{{state}}</div>
                    </ion-segment-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-segment>

    <div *ngFor="let order of orders; trackBy: trackById">
        <order-card [orderId]="order._id" (orderStateChange)="onOrderStateChange($event)" [class.hide]="order.currentState != display"></order-card>
    </div>
    <div class='not-found-tips' *ngIf="!orders.length">无记录</div>
</div>

<div class='not-found-tips' *ngIf="!groups.size">无与您相关的借阅记录</div>
