order-list-section {
    .states-list {
        padding: 1rem 0;

        // box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
        .segment-button {
            color: gray; // letter-spacing: 0.5rem;
            border: none;
            border-radius: 4px;
            // margin: 1rem;
            height: 2rem;
            line-height: 2rem;
            width: 100%;

            &.chosen {
                color: #488aff;
                background-color: unset !important;
                font-weight: bolder;
            }
        }
    }
}
