<ion-header transparent>
    <ion-navbar transparent>
        <ion-buttons left>
            <button ion-button icon-only [class.marker-counter]="hasNewNotifications" (click)="showNotifications()">
                <ion-icon [name]="hasNewNotifications ? 'ios-notifications' : 'ios-notifications-outline'"> </ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>设置</ion-title>
        <ion-buttons right>
            <button ion-button icon-only [class.marker-counter]="hasNewMessages" (click)="showChats()">
                <ion-icon [name]="hasNewMessages ? 'ios-chatboxes' : 'ios-chatboxes-outline'"> </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="settings-content" *ngIf="user">
    <ion-item-group class="user-data-content">
        <ion-item-divider></ion-item-divider>
        <ion-item detail-push (click)="openMyPofileEditPage()">
            <ion-avatar item-start>
                <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="user.avatar" alt="this is the image"
                    title="IMAGE!"></preload-image>
            </ion-avatar>
            <div class="nickname">{{user.nickname}}</div>
            <div class="description">{{user.profile.description}}</div>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item detail-push (click)="editMyTerms()">
            外借条款
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item detail-push (click)="showTermsModal()">
            关于
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item (click)="logout()">
            退出
        </ion-item>
    </ion-item-group>
</ion-content>
