page-settings {

    .marker-counter {
        ion-icon::before {
            opacity: 1;
            font-size: bolder;
            color: blue;
            animation: flashing 1.5s infinite ease-in;
        }

        @keyframes flashing {
            0% {
                opacity: 0.7;
            }

            100% {
                opacity: 0.1;
            }
        }
    }

    .settings-content {

        ion-item {
            .nickname {
                font-size: 1.7rem;
            }

            .description {
                font-size: 1.3rem;
                color: #999999;
            }
        }

        // ion-list.list {
        //     margin: 15px 0;
        //     box-shadow: 1px 0 1px 1px color($landscape-colors, shadow);
        //     .nickname {
        //         font-size: 1.7rem;
        //     }
        //     .description {
        //         font-size: 1.3rem;
        //         color: #999999;
        //     }
        // }
        // .switchers-list {
        //     @include switcher-item-styles($white-d, $theme-color-1);
        //     .switcher-item {
        //         padding: 0px 20px;
        //         .item-inner {
        //             padding: 0px;
        //             border: none;
        //             ion-label {
        //                 margin-left: 0px;
        //             }
        //         }
        //         ion-toggle {
        //             padding-right: 0px;
        //         }
        //     }
        // }
        // .alt-button {
        //     margin: 0px;
        //     background-color: $white;
        //     font-size: 1.4rem;
        //     letter-spacing: 0.2px;
        //     color: $white-d;
        //     @include element-shadow();
        // }
        // .logout-button {
        //     margin: 14px 0px 20px;
        //     padding: 0px 20px;
        //     .button-inner {
        //         justify-content: flex-start;
        //     }
        //     ion-icon {
        //         font-size: 1.8em;
        //     }
        // }
    }
}
