// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);

$theme-color-1: #00e9d5;
$theme-color-2: #ae75e7;
$theme-color-3: #5e5874;


$text-color: rgba(5, 5, 5, 0.9);
// $text-color:        #000;
$background-color: #f5f5f9; // rgb(235, 240, 250);
// $background-color:  #fff;
$font-family-base: 'Lantinghei SC';

$landscape-colors:(sign: rgb(245, 245, 249),
base: rgb(235, 235, 240),
shadow: rgb(225, 225, 230),
annotation: #999999);

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #488aff,
secondary: #32db64,
danger: #f53d3d,
light: #f4f4f4,
dark: #222,
favorite: #69BB7B,

walkthrough:(base: $theme-color-1,
contrast: $white),
walkthrough-alt:(base: $theme-color-2,
contrast: $white),
walkthrough-header:(base: transparent,
contrast: $white),
header:(base: $theme-color-1,
contrast: $white),
header-alt:(base: $theme-color-2,
contrast: $white),
facebook:(base: #3b5998,
contrast: $white),
google:(base: #cc181e,
contrast: $white),
twitter:(base: #00aced,
contrast: $white),
button:(base: $theme-color-1,
contrast: $white),
button-alt:(base: $theme-color-2,
contrast: $white),
background:(base: $white-a,
contrast: $black-b),
tabs-navigation:(base: $white,
contrast: $white-d));


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-icon-color: favorite;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";
