<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button class='menu' *ngIf="isFirstpage" (click)="cancel($event)">
                取消
            </button>
        </ion-buttons>
        <ion-title>社群设置</ion-title>
        <ion-buttons right>
            <button ion-button class='menu' (click)="save($event)">
                保存
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="settings-content">

    <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item>
            <ion-label>群名称</ion-label>
            <ion-input class="half-darken" type="text" [(ngModel)]="communityName" #communityNameCtrl="ngModel" name="communityName"
                pattern="^[^\\s]{0,1}[a-zA-Z0-9_\\s\\u4e00-\\u9fa5]{0,16}[^\\s]{0,1}$" text-right required autofocus></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="communityNameCtrl.errors && (communityNameCtrl.dirty || communityNameCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="communityNameCtrl.errors['required']">群名称不能空着</div>
                <div class="error-message" *ngIf="communityNameCtrl.errors['pattern']">只能包含英文字母、数字、汉字、下划线和空格，首尾不能有空格，最长16个字</div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>我在本群昵称</ion-label>
            <ion-input class="half-darken" type="text" [(ngModel)]="myName" #myNameCtrl="ngModel" name="myName" pattern="^[^\\s]{0,1}[a-zA-Z0-9_\\s\\u4e00-\\u9fa5]{0,16}[^\\s]{0,1}$"
                text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="myNameCtrl.errors && (myNameCtrl.dirty || myNameCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="myNameCtrl.errors['pattern']">只能包含英文字母、数字、汉字、下划线和空格，首尾不能有空格，最长16个字</div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>群公告</ion-label>
            <ion-textarea class="half-darken" rows="5" [(ngModel)]="communityDescription" [readonly]="!isCreator"
                #communityDesciptionCtrl="ngModel" name="communityDescription" pattern="^.{0,1000}$"></ion-textarea>
        </ion-item>
        <ion-item class="error-space" *ngIf="communityDesciptionCtrl.errors && (communityDesciptionCtrl.dirty || communityDesciptionCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="communityDesciptionCtrl.errors['pattern']">最长1000个字</div>
            </div>
        </ion-item>
    </ion-item-group>

    <!-- <ion-item-group radio-group [(ngModel)]="domainType">
        <ion-item-divider color="light"></ion-item-divider>
        <ion-list-header>
            领域/成员来源
        </ion-list-header>
        <ion-item>
            <ion-label>组织单位</ion-label>
            <ion-radio checked="true" value="organization"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>私人朋友</ion-label>
            <ion-radio value="friendship"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>兴趣话题</ion-label>
            <ion-radio value="topic"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>组织类型</ion-label>
            <ion-select [(ngModel)]="orgnizationType" okText="好的" cancelText="取消">
                <ion-option value="school">学校</ion-option>
                <ion-option value="resident">小区</ion-option>
                <ion-option value="company">单位</ion-option>
            </ion-select>
        </ion-item>
    </ion-item-group> -->


    <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item *ngIf="communityId" (click)="getQrCode()">
            <ion-label>邀请入群二维码</ion-label>
            <!-- <ion-note item-end>Off</ion-note> -->
        </ion-item>
        <!-- <ion-item>
            <ion-label>开启新人加入验证</ion-label>
            <ion-toggle [(ngModel)]="doAllowStrangers" disables="true"></ion-toggle>
        </ion-item> -->
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item *ngIf="communityId" (click)="quit()">
            <ion-label>退出此群</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider></ion-item-divider>
    </ion-item-group>

</ion-content>
