page-community-profile {
    .half-darken {
        color: rgba(0, 0, 0, 0.5);
    }
}

.large-popover {
    .popover-content {
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
    }
}
