<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button class='menu' (click)="cancel($event)">
                取消
            </button>
        </ion-buttons>
        <ion-title>邀请入群二维码</ion-title>
        <ion-buttons right>
            <button ion-button class='menu' (click)="share($event)">
                分享
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content style="background-color: rgba(0,0,0,0.8); color: white;">
    <div style="padding: 20% 0;">
        <preload-image [src]="src"></preload-image>
        <br>
        <p text-center>有效期7天</p>
        <p text-center>截止日期：{{expireDate}}</p>
    </div>
</ion-content>
