<ion-grid *ngIf="copies && copies.length">
    <ion-row align-item-start justify-content-between>
        <copy-block *ngFor="let copy of copies; trackBy: trackById" [copyId]="copy._id" (click)="onClick($event, copy)"></copy-block>
    </ion-row>
</ion-grid>
<div class='not-found-tips' *ngIf="!copies || !copies.length">
    <div>没有藏书</div>
    <div>
        <br> 上拉屏幕，刷新数据
    </div>
</div>
