<ion-header transparent>
    <ion-navbar transparent>
        <ion-title text-center>我的简介</ion-title>
        <ion-buttons end [class.hide]="!settingsForm.dirty" (click)="onSubmit()">
            <button ion-button type="submit">保存</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="settings-content" *ngIf="user">

    <ion-grid>
        <ion-row>
            <ion-col col-4 offset-4>
                <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="user.avatar" [zoom]="true"></preload-image>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2 offset-5>
                <div text-center (click)="selectProfilePicture()" class="avatar-change">更换</div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <form [formGroup]="settingsForm" class="settings-form" (ngSubmit)="onSubmit()">
        <ion-item-group class="user-data-content">
            <ion-item-divider></ion-item-divider>
            <ion-item>
                <ion-label>称呼</ion-label>
                <ion-input type="text" formControlName="name" autofocus clearInput placeholder="写自己的称呼"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="settingsForm.get('name').hasError(validation.type) && (settingsForm.get('name').dirty || settingsForm.get('name').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label>简介</ion-label>
                <ion-textarea formControlName="description" rows="3" placeholder="这里介绍自己"></ion-textarea>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.description">
                    <div class="error-message" *ngIf="settingsForm.get('description').hasError(validation.type) && (settingsForm.get('description').dirty || settingsForm.get('description').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

        </ion-item-group>
    </form>

    <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item>
            <ion-label fixed>手机</ion-label>
            <ion-note item-end>{{user.phone.number}}</ion-note>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <!-- <ion-list class="user-preferences-row"> -->
        <ion-item-divider></ion-item-divider>
        <ion-item detail-push (click)="setupCommunities($event)">
            <ion-label fixed>我的书友群</ion-label>
            <ion-note item-end>默认：{{communityName}}</ion-note>
        </ion-item>
    </ion-item-group>

</ion-content>
