<ion-header transparent>
    <ion-navbar transparent>
        <ion-title text-center>我的书友群</ion-title>
        <ion-buttons end (click)="close()">
            <button ion-button>关闭</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list radio-group [(ngModel)]="defaultCommunityId" (ionChange)="changeDefaultCommunity()">

        <ion-list-header>选择默认的书友群:</ion-list-header>

        <ion-item no-lines *ngFor="let community of communities">
            <ion-label>{{community.myCommunityName}}</ion-label>
            <ion-radio [value]="community._id" [checked]="community._id==defaultCommunityId"></ion-radio>
        </ion-item>

        <ion-item no-lines>
            <br>
        </ion-item>

        <ion-item no-lines>
            <ion-label (click)="addNewCommunity()">添加新的书友群</ion-label>
        </ion-item>

    </ion-list>
</ion-content>
