<ion-header class="walkthrough-header">
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button class="skip-button" (click)="skipIntro()" [hidden]="lastSlide">跳过</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="walkthrough-content">
    <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">
        <ion-slide class="slide-1">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image src="./assets/imgs/blue-star.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">心空同书</h2>
            <p class="intro-text">
                分享你我的书，让读书更方便，让世界更美好！
            </p>
        </ion-slide>
        <ion-slide class="slide-2">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image src="./assets/imgs/slide-2-img.png" alt="slide 2 img" title="ion2FullApp"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">买什么书</h2>
            <p class="intro-text">
                孩子需要哪方面的？难易怎么样？
            </p>
            <p class="intro-text">
                这么多书，挑选还真费劲。。。
            </p>
        </ion-slide>
        <ion-slide class="slide-3">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image src="./assets/imgs/slide-3-img.png" alt="slide 3 img" title="ion2FullApp"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">买太多了吧</h2>
            <p class="intro-text">
                买的书很快看完了，然后呢？买，买，买，买了好多。
            </p>
            <p class="intro-text">
                上图书馆借吧，来来回回真麻烦。。。
            </p>
        </ion-slide>
        <ion-slide class="slide-4">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image src="./assets/imgs/slide-4-img.png" alt="slide 4 img" title="ion2FullApp"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">两难</h2>
            <p class="intro-text">
                旧书卖掉太便宜，可惜买来不便宜！
            </p>
            <p class="intro-text">
                可是如果不处理掉，又没有空间存放太多的书。
            </p>
            <div class="button-bar">
                <button ion-button primary (click)="goToLogin()">试试 心空同书</button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
