<ion-menu [content]="content" [swipeEnabled]="false">
    <ion-header>
        <ion-toolbar>
            <ion-title>Pages</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
        <ion-list class="menu-list">
            <button ion-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
                <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
                {{page.title}}
            </button>
            <button ion-item detail-none *ngFor="let page of pushPages" (click)="pushPage(page)">
                <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
                {{page.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
<!-- <ion-content>here you go</ion-content> -->
