<ion-header transparent>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button (click)="dismiss()">
                <span>关闭</span>
            </button>
            <ion-title>
                关于
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h4 class="legal-title">我的故事</h4>
    <p>作为一名刚踏入小学不久的儿童的家长，为了保障孩子的阅读量，我花了不少时间和金钱给孩子买了很多书。但孩子的书看得太快了，我几乎每周都要花些时间精心给孩子挑选书籍。另外，正版英文绘本可都不便宜（盗版不仅侵害版权，还错字连篇误人子弟），大部分价格都在四五十元到一两百元。况且，孩子读一次过后就基本不再用了，实在是有点儿浪费。久而久之，家里的书实在太多了，就有时带着孩子去跳蚤市场卖书，只读过一次的书，买的时候七八十一本，常常十块钱贱卖了。有时，我就上邻居家借书，看看他们买了什么，我们就不必再买了，换着看就好。比如像哈利波特，几乎家家都有。</p>
    <p>后来，我建议家长们搞个共享书柜，班上同学把看过的书都拿来交换。可不知怎么搞的，孩子们似乎经过一阵之后，就悄无声息了。我想大概是因为大家都嫌麻烦或者担心弄丢，所以拿出来的书越来越少。随之，孩子们的选择少了，自然就把这事淡忘了。如此，我又开始花费大量时间金钱给孩子淘书。尤其是忙的时候，难免有点力不从心。</p>
    <p>最后，我实在是不胜其烦，干脆自己动手写了这么个App，彻底解决和我一样的家长们的问题。况且，国家、社区、学校办了那么多图书馆，就是为了图书共享。这个App可以把这件事做的更好更彻底。它最大的好处是邻居同学家里买了什么新书，我很快就能知道，而且选择超级丰富。我遇到好书的时候，花钱买的时候也更果断了，因为我不仅不担心积压浪费的问题，还能和邻居同学们方便地分享。另外，像哈利波特这种书实在没必要每家都买，省下来的纸张可以少砍几棵书。</p>
    <h4 class="legal-title">联系方式</h4>
    <p>如果您有任何建议，欢迎联系: gzyz.dc@gmail.com</p>
    <br>
    <br>
    <p text-right>最后更新: 2018-09-11</p>
</ion-content>
