<ion-header transparent>
    <ion-navbar class="messages-page-navbar" transparent>
        <ion-buttons *ngIf="picture">
            <preload-image class="rounded-image chat-picture" [src]='picture'></preload-image>
        </ion-buttons>

        <ion-title class="chat-title">{{title}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only class="header-buttons attach-button" (click)="showAttachments()">
                <ion-icon name="attach">
                </ion-icon>
            </button>
            <button ion-button icon-only *ngIf="!isNotifications" class=" header-buttons option option-remove" (click)="removeChat()">
                <ion-icon name="trash" class="option-icon">
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="messages-page-content">
    <ion-scroll scrollY="true" class="messages">
        <div *ngFor="let day of messagesDayGroups | async" class="day-wrapper">
            <div *ngFor="let message of day.messages" class="message-wrapper">
                <div [class]="'message message-' + message.ownership">
                    <div *ngIf="message.type == 'order'" class="message-content message-content-text" (click)="showOrder($event, message.referenceId)">
                        <p>{{message.content}}</p>
                        <p class="note">点击查看订单</p>
                    </div>
                    <div *ngIf="message.type == 'text'" class="message-content message-content-text">{{message.content}}</div>
                    <div *ngIf="message.type == 'location'" class="message-content">
                        <a-map [location]="message.location" readonly="true">
                        </a-map>
                    </div>
                    <img *ngIf="message.type == 'picture'" class="message-content message-content-picture" [src]="message.content"
                        imageViewer>
                    <span class="message-timestamp">{{ message.createdAt | amDateFormat: 'HH:mm' }}</span>
                </div>
            </div>
            <div *ngIf="!day.today" class="day-timestamp">{{day.timestamp}}</div>
        </div>
    </ion-scroll>
</ion-content>

<ion-footer>
    <ion-toolbar class="messages-page-footer" position="bottom">
        <ion-input [(ngModel)]="newMessage" (keypress)="onInputKeypress($event)" class="message-editor" placeholder="说点儿什么"></ion-input>
        <ion-buttons end>
            <button ion-button icon-only class="message-editor-button" (click)="sendTextMessage()">
                <ion-icon name="ios-send-outline"></ion-icon>
            </button>

            <!-- <button ion-button icon-only [class.hide]="newMessage" class="message-editor-button">
                <ion-icon name="ios-mic-outline"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
