page-messages {
    .messages-page-navbar {
        .chat-picture {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            padding-bottom: 0 !important;

            img {
                top: unset;
                left: unset;
                width: unset !important;
            }
        }

        .chat-title {
            line-height: 50px;
            float: left;
        }

        .header-buttons {
            margin: 0 12px 0 6px;
        }
    }

    .messages-page-content {
        >.scroll-content {
            margin: 42px -16px 42px !important;
        }

        .day-wrapper .day-timestamp {
            margin-left: calc(50% - 64px);
            margin-right: calc(50% - 64px);
            margin-bottom: 9px;
            text-align: center;
            line-height: 27px;
            height: 27px;
            border-radius: 3px;
            color: gray;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
            background: #d9effa;
        }

        .messages {
            height: 100%;
        }

        .message-wrapper {
            margin-bottom: 9px;

            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .message {
            display: inline-block;
            position: relative;
            max-width: 65vh;
            border-radius: 7px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

            &.message-mine {
                float: right;
                background-color: #DCF8C6;

                &::before {
                    right: -11px;
                    background-image: url(../../assets/message-mine.png)
                }
            }

            &.message-other {
                float: left;
                background-color: #FFF;

                &::before {
                    left: -11px;
                    background-image: url(../../assets/message-other.png)
                }
            }

            &.message-other::before,
            &.message-mine::before {
                content: "";
                position: absolute;
                bottom: 3px;
                width: 12px;
                height: 19px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .message-content {
                padding: 5px 7px;
                word-wrap: break-word;

                &::after {
                    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
                    display: inline;
                }

                a-map {
                    height: 25vh;
                    width: 35vh;
                }

                .note {
                    font-size: 1.3rem;
                    opacity: 0.7;
                }
            }

            .message-timestamp {
                position: absolute;
                bottom: 2px;
                right: 7px;
                font-size: 12px;
                color: gray;
            }
        }
    }

    .messages-page-footer {
        padding-right: 0;

        .message-editor {
            margin-left: 2px;
            padding-left: 5px;
            background: white;
            border-radius: 3px;
        }

        .message-editor-button {
            box-shadow: none;
            width: 50px;
            height: 50px;
            font-size: 17px;
            margin: auto;
        }
    }

}

.message-order-card {
    .popover-content {
        width: 90%;
        min-height: 200px;
    }
}
