.chats-page-content {
    .chat-picture {
        width: 50px;
        float: left;
        margin: 5px 10px 5px 0;
    }

    .chat-info {
        margin: 10px 0;

        h2.chat-title {
            margin: 0 0 7px 0;
        }

        .last-message-timestamp {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 12px;
            color: #9A9898;
        }
    }
}
