<ion-header>
    <ion-navbar>
        <ion-title>
            私信
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only class="add-chat-button" (click)="addChat()">
                <ion-icon name="person-add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="chats-page-content">

    <ion-list class="chats" *ngIf="chats.length">
        <ion-item-sliding *ngFor="let chat of chats">
            <button ion-item class="chat" (click)="showMessages(chat)">
                <ion-avatar class="chat-picture">
                    <preload-image class="rounded-image" [src]="chat.picture"></preload-image>
                </ion-avatar>
                <div class="chat-info">
                    <h2 class="chat-title">{{chat.title}}</h2>
                    <span *ngIf="chat.lastMessage as lastMessage" class="last-message">
                        <p *ngIf="lastMessage.type == 'text'" class="last-message-content last-message-content-text">{{lastMessage.content}}</p>
                        <span class="last-message-timestamp">{{lastMessage.createdAt | amCalendar }}</span>
                    </span>
                </div>
            </button>
            <ion-item-options class="chat-options">
                <button ion-button color="danger" class="option option-remove" (click)="removeChat(chat)">Remove</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
