<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <ion-searchbar autofocus class="search-bar" type="text" debounce=500 showCancelButton="true"
                cancelButtonText="取消" [placeholder]="placeholder" (ionInput)="search($event.target.value)" (ionClear)="search(undefined)">
            </ion-searchbar>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="items">

        <ion-row *ngIf="type == 'Book'">
            <book-block *ngFor="let item of items; trackBy: trackById" [bookId]="item._id" (click)="openItem(item)"></book-block>
        </ion-row>

        <ion-row *ngIf="type == 'User'">
            <user-block *ngFor="let item of items; trackBy: trackById" [userId]="item._id" (click)="openItem(item)"></user-block>
        </ion-row>

        <ion-row *ngIf="type == 'Order'">
            <order-card *ngFor="let item of items; trackBy: trackById" [orderId]="item._id"></order-card>
        </ion-row>

    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" class="keep-distant">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
