<ion-header no-border transparent #topHeader>
    <ion-navbar transparent>
        <ion-buttons left>
            <button ion-button icon-only class='search' (click)="pushSearchPage($event)">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title #slideTitle text-center>{{title}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only class='menu' (click)="viewMembers($event)">
                <ion-icon name="ios-contact-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounced #topContainer class="hide-block-rating">
    <ion-slides #slider pager=true initialSlide=1 loop=false (ionSlideDidChange)="onSlideDidChange($event)">
        <!-- 第一页用户可以选择感兴趣的标签,设置后立即更新 -->
        <ion-slide hide-header-in-scroll [scrollContainer]="topContainer" [headerToHide]="topHeader">
            <!-- TODO: 添加标签搜索 @v1 -->
            <ion-list padding>
                <button class="button-tag" ion-item-start *ngFor="let tag of tags" tappable ion-button strong color="primary"
                    [outline]="!isSelected(tag)" (click)="updateSelection($event, tag)">{{tag}}({{getGroupSize(tag)}}册)</button>
            </ion-list>
        </ion-slide>
        <ion-slide *ngFor="let tag of selectedTags" hide-header-in-scroll [scrollContainer]="topContainer"
            [headerToHide]="topHeader">
            <ion-grid *ngIf="groups">
                <ion-row align-item-start *ngIf="getBooksOfTag(tag) as books" justify-content-between>
                    <book-block *ngFor="let book of books; trackBy: trackById" [bookId]='book._id' (click)="onClick($event, book)"></book-block>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>

    <!-- add scroll-slides class to make infinitescroll to be able to back off -->
    <ion-infinite-scroll class="scroll-slides" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
