<ion-header no-border transparent>
    <ion-navbar #navBar transparent>
        <ion-title>编辑{{book && book.title ? '《' + book.title + '》': ''}}</ion-title>
        <ion-buttons end (click)="onSubmit()">
            <button ion-button type="submit">提交审核</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content (keypress)="detectChanges()" (click)="detectChanges()" *ngIf="book">

    <ion-grid>
        <ion-row>
            <ion-col col-4 offset-4>
                <preload-image [ratio]="{w:1, h:1.47}" [src]="coverImage" (click)="changeCover()"></preload-image>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list padding>

        <ion-item no-lines>
            <ion-label>正标题</ion-label>
            <ion-input type="text" [(ngModel)]="book.title" #titleCtrl="ngModel" name="title" pattern="^[^\\s]{0,1}.{0,120}[^\\s]{0,1}$"
                text-right required></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="titleCtrl.errors && (titleCtrl.dirty || titleCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="titleCtrl.errors['required']">不能空着</div>
                <div class="error-message" *ngIf="titleCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>副标题</ion-label>
            <ion-input type="text" [(ngModel)]="book.sub_title" #subTitleCtrl="ngModel" name="subTitle" pattern="^[^\\s]{0,1}.{0,120}[^\\s]{0,1}$"
                text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="subTitleCtrl.errors && (subTitleCtrl.dirty || subTitleCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="subTitleCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>原作标题</ion-label>
            <ion-input type="text" [(ngModel)]="book.origin_title" #originTitleCtrl="ngModel" name="originTitle"
                pattern="^[^\\s]{0,1}.{0,120}[^\\s]{0,1}$" text-right placeholder="翻译前的标题"></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="originTitleCtrl.errors && (originTitleCtrl.dirty || originTitleCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="originTitleCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>丛书系列名称</ion-label>
            <ion-input type="text" [(ngModel)]="book.seriesTitle" #seriesTitleCtrl="ngModel" name="seriesTitle" pattern="^[^\\s]{0,1}.{0,120}[^\\s]{0,1}$"
                text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="seriesTitleCtrl.errors && (seriesTitleCtrl.dirty || seriesTitleCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="seriesTitleCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>著者</ion-label>
            <ion-input type="text" [(ngModel)]="book.authors" #authorsCtrl="ngModel" name="authors" placeholder="多人名以逗号分隔"
                pattern="^[^\\s]{0,1}.{0,120}[^\\s]{0,1}$" text-right required></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="authorsCtrl.errors && (authorsCtrl.dirty || authorsCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="authorsCtrl.errors['required']">不能空着</div>
                <div class="error-message" *ngIf="authorsCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>译者</ion-label>
            <ion-input type="text" [(ngModel)]="book.translators" #translatorsCtrl="ngModel" name="translators"
                placeholder="多人名以逗号分隔" pattern="^[^\\s]{0,1}.{0,120}[^\\s]{0,1}$" text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="translatorsCtrl.errors && (translatorsCtrl.dirty || translatorsCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="translatorsCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>语言</ion-label>
            <ion-input type="text" [(ngModel)]="book.languages" #languagesCtrl="ngModel" name="languages" placeholder="多语言以逗号分隔"
                pattern="^[^\\s]{0,1}.{0,28}[^\\s]{0,1}$" text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="languagesCtrl.errors && (languagesCtrl.dirty || languagesCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="languagesCtrl.errors['pattern']">首尾不能有空格，最长30个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>页数</ion-label>
            <ion-input type="number" size=10 [(ngModel)]="book.pages" #pagesCtrl="ngModel" name="pages" max="999999999"
                min="0" text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="pagesCtrl.errors && (pagesCtrl.dirty || pagesCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="pagesCtrl.errors['min']">最少0页</div>
                <div class="error-message" *ngIf="pagesCtrl.errors['max']">最多999999999页</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>字数(以千字为单位)</ion-label>
            <ion-input type="number" size=10 [(ngModel)]="book.words" #wordsCtrl="ngModel" name="words" max="99999" min="0"
                text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="wordsCtrl.errors && (wordsCtrl.dirty || wordsCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="wordsCtrl.errors['min']">最少0千字</div>
                <div class="error-message" *ngIf="wordsCtrl.errors['max']">最多99999千字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>出版社</ion-label>
            <ion-input type="text" [(ngModel)]="book.publisher" #publisherCtrl="ngModel" name="publisher" pattern="^[^\\s]{0,1}.{0,118}[^\\s]{0,1}$"
                text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="publisherCtrl.errors && (publisherCtrl.dirty || publisherCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="publisherCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>装订版型</ion-label>
            <ion-input type="text" [(ngModel)]="book.binding" #bidingCtrl="ngModel" name="binding" pattern="^[^\\s]{0,1}.{0,118}[^\\s]{0,1}$"
                placeholder="如：精装、平装" text-right></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="bidingCtrl.errors && (bidingCtrl.dirty || bidingCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="bidingCtrl.errors['pattern']">首尾不能有空格，最长120个字</div>
            </div>
        </ion-item>

        <ion-item no-lines>
            <ion-label>定价</ion-label>
            <ion-input class="half-darken price-unit" type="text" size=10 [(ngModel)]="book.priceUnit" #priceUnitCtrl="ngModel"
                name="priceUnit" pattern="^\\w{0,12}$" text-right placeholder="人民币"></ion-input>
            <ion-input type="number" size=10 [(ngModel)]="book.price" #priceCtrl="ngModel" name="price" max="999999999"
                min="0" text-right placeholder="0.00"></ion-input>
        </ion-item>
        <ion-item class="error-space" *ngIf="priceCtrl.errors && (priceCtrl.dirty || priceCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="priceCtrl.errors['min']">定价：最小0元</div>
                <div class="error-message" *ngIf="priceCtrl.errors['max']">定价：最大999,999,999元</div>
            </div>
        </ion-item>
        <ion-item class="error-space" *ngIf="priceUnitCtrl.errors && (priceUnitCtrl.dirty || priceUnitCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="priceUnitCtrl.errors['pattern']">币种：首尾不能有空格，最长12个字</div>
            </div>
        </ion-item>

        <ion-item>
            <ion-label>出版日期</ion-label>
            <ion-datetime displayFormat="YYYY-MM" pickerFormat="YYYY MM" [(ngModel)]="book.pubdate"></ion-datetime>
        </ion-item>

        <ion-item detail-push (click)="editSummary()">
            内容简介
        </ion-item>

        <ion-item detail-push (click)="editCatalog()">
            内容目录
        </ion-item>

        <ion-item>
            <ion-label>适合年龄段: {{book.ageRangeIndicator}}</ion-label>
            <ion-range min="3" max="30" dualKnobs=true ping=true [(ngModel)]="book.ageRange" (ionChange)="onRangeChange()">
                <ion-label class="range-label" range-left>3</ion-label>
                <ion-label class="range-label" range-right>30</ion-label>
            </ion-range>
        </ion-item>

        <div class="tags-edit" padding>
            <p class="label" text-center>标签(用逗号分隔)：</p>
            <tag-input [(ngModel)]="book.tags" (onAdd)="addTag($event)" (onRemove)="removeTag($event)" [identifyBy]="'name'"
                [displayBy]="'name'" separatorKeys="[',', ' ', ';']" theme="minimal"> </tag-input>
        </div>
        <!-- <ion-item>
            <ion-textarea rows="5" [(ngModel)]="comment" #commentCtrl="ngModel" name="comment" pattern="^.{0,2000}$"
                placeholder="这里写备注"></ion-textarea>
        </ion-item>
        <ion-item class="error-space" *ngIf="commentCtrl.errors && (commentCtrl.dirty || commentCtrl.touched)">
            <div class="validation-errors">
                <div class="error-message" *ngIf="commentCtrl.errors['pattern']">最长2000个字</div>
            </div>
        </ion-item> -->
    </ion-list>
</ion-content>
