page-edit-book {
    .avatar-change {
        color: #999999;
    }

    ion-item-divider {
        background-color: #eeeeee !important;
    }

    ion-input {
        margin-left: 10px;
        padding-left: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.6);

        &.price-unit {
            max-width: 50%;
        }
    }

    .tags-edit {
        .label {
            font-size: 1.7rem;
        }

        tag-input {
            margin: 0 auto;

            font-size: 1.2rem;

            tag {
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }

            tag-input-form {
                display: flex;
                flex-direction: row;

                input {
                    background-color: transparent;
                }
            }
        }
    }

    .tags-editor {
        font-size: 1.5rem;
        min-height: unset;
        opacity: 0.6;
    }

}
