.location-message-content {
    .scroll-content {
        margin-top: 44px;
    }

    ngx-amap {
        padding: 0;
        width: 100%;
        height: 300px;
    }

    #poiInput {
        width: 100%;
        height: 3.5rem;
        padding: 10px 2px;
        margin: 3px 0;
    }

    #poiInfo {
        background: #fff;
    }

    .map-container {
        height: 300px;
        margin-top: -15px;
    }
}
