<ion-header>
    <ion-toolbar>

        <ion-title>发送位置</ion-title>

        <ion-buttons end>
            <button ion-button class="dismiss-button" (click)="viewCtrl.dismiss()">
                取消
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="location-message-content">
    <ion-list>

        <a-map [location]="location">
        </a-map>

        <ion-item class="confirm-location" (click)="sendLocation()">
            <ion-icon name="compass" item-left></ion-icon>
            <h2>发送当前位置</h2>
            <p *ngIf="location && location.accuracy !== -1">精确到 {{location.accuracy}} 米</p>
        </ion-item>
    </ion-list>
</ion-content>
