<ion-header>
    <ion-toolbar>
        <ion-searchbar autofocus class="search-bar" placeholder="输入用户名" [showCancelButton]="true" (ionInput)="search($event.target.value);"
            (ionClear)="search(undefined);">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="new-chat">
    <ion-list class="users" *ngIf="users">
        <button ion-item *ngFor="let user of users" class="user" (click)="addChat(user)">
            <img class="user-picture" [src]="user.avatar">
            <h2 class="user-name">{{user.nickname}}</h2>
        </button>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
