<ion-card *ngIf="order && borrower && owner && book">
    <ion-grid>
        <div class='title' text-center (click)="doShowConditions=!doShowConditions">
            <span>{{title}}</span>
        </div>
        <div class="main-board">
            <ion-row class="image name" padding-top justify-content-between>
                <!-- <ion-col col-4 *ngIf="!order.borrower.isMe"> -->
                <ion-col col-4 (click)="openUserProfile($event, borrower)">
                    <preload-image [ratio]="{w:1,h:1}" class="rounded-image full" [src]="borrower.avatar"></preload-image>
                    <span class="conditions">借书人</span>
                    <br>
                    <span class="name">{{borrower.nickname}}</span>
                </ion-col>
                <ion-col col-4 (click)="openBookProfile($event, book)">
                    <preload-image [ratio]="{w:7,h:10.2}" [src]="book.image"></preload-image>
                </ion-col>
                <!-- <ion-col col-4 *ngIf="!order.owner.isMe"> -->
                <ion-col col-4 (click)="openUserProfile($event, owner)">
                    <preload-image [ratio]="{w:1,h:1}" class="rounded-image full" [src]="owner.avatar"></preload-image>
                    <span class="conditions">书主</span>
                    <br>
                    <span class="name">{{owner.nickname}}</span>
                </ion-col>
            </ion-row>
        </div>
        <ion-row *ngIf="operations" justify-content-between>
            <ion-col col-4 *ngFor="let operation of operations" padding text-center>
                <button ion-button small padding (click)="perform(operation)">{{operation}}</button>
            </ion-col>
        </ion-row>
        <div class="conditions" [class.hide]="!doShowConditions">
            <ion-row class="orderid-state">
                <ion-col text-left>
                    <span>单号：{{order._id}}</span>
                </ion-col>
                <ion-col text-right>
                    状态：{{order.currentState}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-left>
                    <span>起始：{{order.createdAt | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm' }}</span>
                </ion-col>
                <ion-col text-right>
                    <span>更新：{{order.updatedAt | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm' }}</span>
                </ion-col>
            </ion-row>
        </div>

    </ion-grid>
</ion-card>
