order-card {
    width: 100%;

    ion-card {
        background-color: #fdfdfd !important;

        .grid {
            padding: 0;
            margin: 0;

            .row {
                margin: 0;
            }
        }

        .conditions {
            font-size: 1rem;
            opacity: 0.6;
        }

        .header {
            padding: 10px 0;
        }

        .title {
            font-size: 1.5rem;
            padding: 5px 2px;
            @include ellipsis-span(1);
        }

        .name {
            font-size: 1.3rem;
        }

        .main-board {
            text-align: center;
            // background-color: #fefefe;
            // box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
            padding: 0 0 20px 0;
            margin: 5px 0;

            .image ion-col {
                padding: 0 8%;

                preload-image img {
                    max-height: unset !important;
                }
            }
        }
    }
}
