a-map {
    .amap-container {
        &.input {
            width: 100%;
            height: 300px;
        }

        &.output {
            height: 25vh;
            width: 35vh;
        }
    }

    input {
        width: 100%;
        padding: 10px 15px;
        font-size: 1.6rem;
        background-color: #fafaff;
    }

    .address {
        padding: 0 10px;
    }
}
