<input [id]="inputId" type="search" autofocus clearInput placeholder="输入关键字选取地点" *ngIf="!readonly" />
<div [id]="mapId" class="amap-container" [class.input]="!readonly" [class.output]="!!readonly"> </div>
<div *ngIf="!readonly" class="address">
    <p>地点：{{name}}</p>
    <p>地址：{{address}}</p>
</div>
