<ion-header no-border transparent #topHeader>
    <ion-navbar transparent>
        <ion-buttons left>
            <button ion-button icon-only class='search' (click)="pushSearchPage($event)">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title #slideTitle text-center>藏书扫描</ion-title>
        <!-- <ion-buttons right>
            <button ion-button icon-only class='menu' (click)="manageCopies($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content hide-header-in-scroll [headerToHide]="topHeader" class="hide-block-rating">
    <copy-list-section [userId]="userId"></copy-list-section>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" class="keep-distant">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
